:root {
  color-scheme: dark;

  --o-body-bg: #161830;
  --o-body-color: #fff;
  --o-text-secondary: #AEAFBB;

  --o-primary: #426CDA;
  --o-success: #48C188;
  --o-warning: #FFA32A;
  --o-danger: #F84B5C;

  --o-component-bg: #1C1F41;
  --o-component-bg-hover: #282A4B;
  --o-component-border-radius: 1rem;
  --o-component-padding: 1.5rem;
}
